:root {
    --container-height: 600px;
    --contaier-width: 400px;
    --header-height: 150px;
  }
/*--nav var--*/

* {
    margin: 0;
    padding: 0;
}

.fullbody {
    height: auto;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    background: #338ecf;
    color: rgb(0, 0, 0);
  }

body {
    height: auto;
    font-size: 16px;
    font-family: 'Exo 2', sans-serif;
    background: #338ecf;
    color: rgb(0, 0, 0);
}

.header {
    text-align: center;
    color: white;
    background: #03468c;
    padding-top: 20px;
}

.header a {
    padding: 30px 0 0;
    display: block;
    font-size: 48px;
    text-decoration: none;
    color: white;
    margin-top: 40px;
}

.header p {
    margin: 10px 0 40px 0;
    font-size: 18px;
}

@media only screen and (max-width : 1000px) {
    .stellarnav>ul>li>a {
        padding: 20px 23px;
    }
}

.header {
    text-align: center;
    display: grid;
    align-items: center;
    justify-items: center;
    line-height: 1.3;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    line-height: 1.7;
}

/*--body--*/
.container {
    margin-left: auto;
    max-width: 900px;
    line-height: 1.3;
    background-color: #ffebd3;
    padding: 5px;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px
}

.containera {
    line-height: 1.3;
    background-color: #ffebd3;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    line-height: 1.7;
}

.containerb {
    border-radius: 10px;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    line-height: 1.7;
}

.containerc {
    margin: 15px;
    display: flex;
    text-align: center;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    line-height: 1.7;
}

.containere {
    margin-left: auto;
    max-width: 900px;
    line-height: 1.3;
    background-color: #ffebd3;
    padding: 5px;
    margin-right: auto;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: var(--container-height);
    position: relative;
    overflow: hidden;
}

.content1 {
    line-height: 1.7;
    margin: 15px;
}

.content3 {
    display: flex;
  }

img {
    max-width: 100%;
    /* or max-width: 100%; */
    height: auto;
}

.img1 {
    height: 60px;
    margin-right: 25px;
    display: flex;
    margin-left: 25px
}

.img2 {
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex
}

.img3 {
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    display: flex
}

.img4 {
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px
}

.img5 {
    height: 30px
}

.img6 {
    height: 35px;
    display: flex;
    margin-left: 25px;
}

.img7 {
    height: 150px;
    min-width: 60px;
    min-height: 60px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 10px;
  }

.img8 {
    width: 90%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    max-width: 200px;
    display: block;
    float: left;
    margin-right: 20px;
    min-width: 125px
}

.img9 {
    height: 200px;
    margin: auto;
    display: flex;
    border-radius: 50px
}

.imagemapalarge,
.imgLogo,
.imgLogo2,
.img8,
.img9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-width: 100px;
}

.imgLogo,
.imgLogo2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    max-width: 500px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.imagemapalarge {
    max-width: 90%;
    height: auto;
    object-position: bottom;
    border-radius: 10px;
    max-width: 800px;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto
}

.imagemapalarge,
.imgLogo,
.imgLogo2,
.img8,
.img9 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#section-header {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    color: #fff;
    background: linear-gradient(-135deg, #04416c, #5a92b9);
    box-shadow: 0 0 3px 1px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: -moz-fit-content;
    max-width: fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    padding: 10px
}

#section-header:hover {
    background-color: #410101;
    box-shadow: 0 2px 0 #720101;
    box-shadow: 0 6px 0 #0e1a18;
    background: linear-gradient(-135deg, #5a92b9, #04416c);
}

p {
    font-size: 18px;
    margin-top: 25px;
    text-align: left;
}

p2 {
    text-align: center;
}



p-5 {
    font-size: 18px;
    text-align: left;
    margin-left: 30px;
}

h2 {
    text-align: center
}

h3 {
    text-align: center;
    margin-top: 30px
}

h4 {
    text-align: center
}

/*--recursos-video--*/
.main {
    overflow: hidden;
    height: 650px
}

.video-box {
    width: 100%;
    max-width: 320px;
    height: auto
}

.video video {
    height: 650px
}

.video {
    display: flex;
    justify-content: center;
}

.video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

@media only screen and (max-width: 480px) {
    video {
        width: 100%;
    }
}

/*--precursorado--*/

.content2 .inputs {
    height: 40px;
    width: auto;
    max-width: 100%;
    position: relative;
    margin-bottom: 30px;
    margin-left: 10px;
    position: relative;
    margin-top: 30px
}

.content2 .inputs input {
    font-size: 20px;
    padding-left: 20%
}

.content2 .inputs input {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #005691;
    outline: 0;
    font-size: 20px;
    transition: .3s;
    background-color: #95fefe
}

.content2 .inputs input:focus {
    border-color: #14dcd2
}

.content2 .inputs label {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    font-size: 24px;
    transition: .3s;
    color: #ff0404;
    padding-left: 5pt
}

.content2 .mb-3 label {
    pointer-events: none;
    font-size: 24px;
    transition: .3s;
    color: #0a9c1e;
    padding-left: 5pt;
    margin-left: 10px;
}

.content2 .inputs input:focus~label,
.content2 .inputs input:valid~label {
    transform: translateY(-28px);
    color: #0a9c1e
}

.form-check-input {
    font-size: 24px;
    margin-left: 10px;
    background-color: #3e8da8;
    border-radius: 5px;
    margin-top: 20px;
}

.form-check-label {
    font-size: 25px
}

#Fecha {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}

#Publicador,
#Mejor,
#Correo,
#Telefono,
#Idioma,
#Nombre {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}

#Apellido {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}

.flechasRoja {
    background-color: red;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #f5f6fa
}

.flechasVerde {
    background-color: #3cff00;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #000
}

.flechasAzul {
    background-color: #95fefe;
    font-size: 24px;
    margin-left: 10px;
    border-radius: 5px;
    color: #000
}

.formulario__submit {
    display: block;
    width: fit-content;
    font-size: 25px;
    text-align: center;
    border: 2px solid #ff5f5f;
    box-shadow: 0 5px 0 #750000;
    -webkit-transition: all .2s ease-in-out;
    transition: all .5s ease-in-out;
    background: red;
    color: #f5f6fa;
    border-radius: 10px;
    padding: 10px;
    margin: auto
}

#respuesta {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 5px;
}

#respuesta.fail {
    color: red;
    font-size: 25px;
    text-align: center;
}

#respuesta.send {
    color: green;
    font-size: 25px;
    text-align: center;
}


/*--registros--*/
.container .form .inputfield {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.container .form .inputfield label {
    width: 200px;
    color: #757575;
    margin-right: 10px;
    font-size: 20px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .form .inputfield .input, .container .form .inputfield .textarea {
    outline: 0;
    order: 3px solid #00eaf2;
    font-size: 20px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all .3s ease;
    width: 95%;
    background-color: #95fefe;
  }

input {
    margin: 5px
}

.btn.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #08233b;
    display: flex;
    flex-direction: row-reverse;
    width: 300px;
    align-items: center;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
    margin: auto;
    justify-content: flex-end;
    font-size: 14pt;
    font-weight: bold;
}

.btn.btn-primary:hover {
    background: rgb(0, 0, 0);
    color: #fff;
}

.buttons-area {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap;
  }

#srchID {
    padding: 3px;
    height: 40px;
    font-size: 20px;
    width: 100px;
    background-color: #F5F5DC;
    color: #000;
    font-weight: bold;
    display: none;
}

#buscar,
#button1 {
    color: #fff;
    background-color: maroon;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    display: flex;
    align-items: center;
}

select#srchID {
    background-color: #F5F5DC;
    color: #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.inputfielda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.button1 {
    color: #fff;
    background-color: #03468c;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    display: flex;
    align-items: center;
}

select#srchID {
    background-color: #F5F5DC;
    color: #000;
    border-radius: 10px;
    height: 50px;
    width: 200px;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    text-align: center;
}

.inputfielda {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

table#myTable {
    max-width: 100%;
    min-width: 300px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.table.bg-white {
    margin: auto;
}

tr {
    background-color: #12629a;
}

table,
td {
    padding: 2px 20px;
    color: white;
    margin: 10px 0;
    border: solid 1px #fff;
    min-width: 175px;
    max-width: 300px;
    text-align: center;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 100px;
}

#loader {
    border: 16px solid #f7ff32;
    border-radius: 50%;
    border-top: 16px solid #00f;
    border-bottom: 16px solid green;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    visibility: hidden;
    margin: auto;
    margin: auto;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes spin {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}

/*-- Top arow button on style --*/
.button a{
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #fff;
    background: #002851;
    padding: 7px 12px;;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.15);
  }

  @import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

  .header1 {
    text-align: center;
    color: white;
    background: #03468c;;
    padding-top: 20px;
    border-radius: 10px;
}
  .header1 {
    text-align: center;
    align-items: center;
    justify-items: center;
    line-height: 1.3;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    line-height: 1.7;
  }

  div#dateNumber {
    margin-left: 20px;
    margin-right: 20px;
}
  .new-todo {
    width: 100%;
    height: 50px;
    padding: 0.25rem 0;
  }
  .new-todo form {
    display: flex;
    align-items: center;
  }
  .new-todo form input {
    flex: 1;
    height: 40px;
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    border-right: 0px;
    outline: transparent;
    padding-left: 0.5rem;
    font-size: 1rem;
    color: #fff;
  }
  #newtodo:hover {
    background-color: #bfffff;
    color: #000;
  }
  .new-todo form button {
    width: 60px;
    height: 40px;
    font-size: 1rem;
    background-color: transparent;
    color: rgb(255, 251, 4);
    border: none;
    border-left: 0px;
    cursor: pointer;
  }
  .new-todo form button:hover {
    text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.8);
  }
  #todos-list .todo .bi-pencil-square {
    color: rgb(12, 4, 255);
  }
  #todos-list {
    background-color: #aeb8bf;
    padding: 0.5rem;
    border: 1px solid rgb(219, 219, 219);
    overflow: scroll;
    border-radius: 10px;
    margin-top: 50px;
  }

  #todos-list .todo {
    display: flex;
    align-items: center;
    padding: 0.75rem 0.5rem;
    border-radius: 5px;
  }
  #todos-list .todo:hover {
    background-color: rgba(5, 9, 255, 0.1);
  }
  #todos-list .todo * {
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 5px;
    padding: 5px;
    background-color: #bfffff
  }
  #todos-list .todo i {
    font-size: 0.9rem;
  }
  #todos-list .todo p4{
    flex: 1;
    word-break: break-all;
  }
  .checked {
    text-decoration: line-through;
    color: rgb(7 3 255);
  }
  #todos-list .todo .bi-pencil-square {
    color: rgb(7 3 255);
  }
  #todos-list .todo .bi-trash {
    color: rgb(251 0 0);
    margin: 0;
  }

  .notification {
    position: absolute;

    width: calc(3 * var(--contaier-width) / 4);
    height: 60px;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.9;

    border-radius: 8px;
    background-color: rgb(175, 81, 233);
    top: 10px;
    right: calc(-3 * var(--contaier-width) / 4);

    color: #fff;

    transition: 300ms right ease-in-out;
  }

  .notif-enter {
    right: 10px;
  }


    /* date */
  .title {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
  }
  .date {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

div#date2 {
    margin-top: -20px;
}

  .dateRight {
    display: flex;
    align-items: center;
  }

  #dateNumber {
    font-size: 50px;
  }

  #dateText {
    letter-spacing: 3px;
    text-transform: uppercase;
  }

  #dateMonth,
  #dateNumber,
  #dateText  {
    font-weight: bold;
  }

  #dateMonth,
  #dateYear {
    margin-left: 7px;
    font-size: 20px;
  }


/*--interes--*/
#Direccion {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}

#Observaciones {
    font-size: 24px;
    background-color: #95fefe;
    border-radius: 5px;
    max-width: 100%;
    position: relative;
    display: flex;
    width: -moz-available;
    width: -webkit-fill-available;
}
/*--popup--*/
.button {
    font-size: 1em;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: 2px solid #03468c;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background-color: #337ab7;
}

.button:hover {
    background: #980000;
    border: 2px solid #020202;
    color: rgb(255, 255, 255);
}

.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    margin-top: 150px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    border-radius: 50px;
    overflow-y: scroll !important;
    max-height: 350px;
}

.popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
    position: absolute;
    top: 0px;
    right: 30px;
    transition: all 200ms;
    font-size: 50px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}

.popup .close:hover {
    color: #061bd8;
}

.popup .content {
    max-height: 30%;
    overflow: auto;
}

@media screen and (max-width: 700px) {
    .box {
        width: 70%;
    }

    .popup {
        width: 70%;
    }
}
